{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASK1</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <div class="main">
        <h1>First Task of Django</h1>
        <rbr><br>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus maxime suscipit perferendis consectetur
                praesentium sequi repellendus ipsam eius blanditiis accusantium veniam, sunt eveniet magni, sed velit
                omnis
                qui tempora iure!</p>
    </div>

</body>

</html>